# Ignore Files in the MYNN-SFC directory

# All pre-processed Fortran files in MPAS specific directories
*.f90

# All object files
*.o

# All mod files
*.mod

# All copies in the top dir
Makefile
module_sf_mynnsfc_common.F90
module_sf_mynnsfc_driver.F90
module_sf_mynnsfc_land.F90
module_sf_mynnsfc_water.F90
module_sf_mynnsfc_ice.F90
